:root {
    --darkgrey: #2a2a2a;
    --c1: #0D1B2A;
    --c2: #1B263B;
    --c3: #415A77;
    --c4: #778DA9;
    --cream: #fdf9f9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgrey);
}

#mainHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--c1);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#mainHeader h1 {
    color: var(--cream);
    margin-left: 20px;
}

#mainHeader form {
    margin: auto 20px auto 0px;
}

#mainHeader label {
    color: var(--cream);
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

#mainContent {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: var(--c2);
    margin: 0;
    padding: 20px;
}

.dropbtn {
    padding: 10px;
    font-size: large;
    cursor: pointer;
}

.button-holder {
    padding: 20px;
}

input[type=submit] , .button-holder, button{

    width: 200px;
    text-decoration: none;
    color: var(--cream);
    background: var(--c3);
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.menu-item {
    padding: 20px 0;
    cursor: pointer;
}

input[type=submit]:hover, .button-holder:hover, .pdf:hover  {
    background: var(--c2);
}

input[type=submit]:active {
    background: var(--c4);
}

input[type="number"] {
    margin: 20px;
    width: 200px;
    padding: 10px;
}

select {
    width: 150px;
    padding: 10px;
}

textarea {
    min-width: 600px;
    height: 100px;
    margin: 10px 0;
}

.myLabel {
    display: block;
    color: var(--c3);
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
}

.canvas-container {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
}

#canvas {
    border: 1px solid var(--c2);
}

hr {
    width: 80%;
    margin: 40px auto;
}

.button-holder {
    text-align: center;
}

a{
    text-decoration:none;
    color: var(--cream);
    font-family: 'Montserrat', sans-serif;
}

#desc{
    padding: 0 10%;
}

.dropbtn {
    background-color: var(--c3);
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: var(--c2);
}
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 30%;
    text-align: center;
    margin: auto;
}
table {
    max-width: 80%;
    margin-bottom: 100px;
}
ul, li {
    list-style-type: none;
}